@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto:wght@100;300;400;500;700&family=VT323&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  padding: 10px 0px;
  font-family: "Work Sans", sans-serif;
  /*background-image: url("gray-texture.jpg");*/
  background-color: rgb(228, 228, 228);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  font-family: "VT323", monospace;
  margin: 0px;
  padding-bottom: 20px;
  font-size: 50px;
  background-color: red;
  color: antiquewhite;
  text-align: center;
}

main {
  background-color: red;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}

.grid {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: 10px solid rgb(163, 0, 0);
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5px;
}

.row {
  flex: 1;
  display: flex;
}

.cell {
  flex: 1;
}

.controls {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls input[type="button"] {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.74);
  background-color: rgb(255, 246, 234);
  width: 100px;
  padding: 4px 0px;
  border-radius: 3px;
  border: 0px solid rgba(99, 99, 99, 0.668);
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  transition: transform 0.2s;
  font-weight: bolder;
}

.controls input[type="button"]:hover {
  transform: scale(1.06);
}

.controls input[type="button"]:active {
  color: rgba(116, 116, 116, 0.577);
}

.clear-btn {
  font-weight: bolder;
}

.slider-picker-container {
  display: flex;
  justify-content: space-around;
  color: antiquewhite;
}

.slider-container {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#picker {
  width: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

a:hover {
  color: rgba(86, 86, 86, 0.747);
}
